<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="p-3 bg-dark text-white">
        <h1>HTML Table</h1>
    </div>
    <div class=container>
        <h2 class="block-quote" style="padding: 1em 0;">Say hello to all our users</h2>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                {% for x in range(usersLength): %}
                    <tr>
                        {% for key in users[x]: %}
                            <td>{{ users[x][key] }}</td>
                        {% endfor %}
                            <td>{{users[x]['first_name']}} {{users[x]['last_name']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>